:root {
  --pink: #f14e95;
  --bg: #0a0a0a;
  --shadow: 0 2px 2px rgb(0, 0, 0/0.5);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.2rem;
  font-family: "Work Sans", sans-serif;
  overflow-x: hidden;
}

.mynavbar {
  background: rgba(255, 255, 255, 0.4) !important;
  backdrop-filter: blur(4px);
}

/* hero section ======== */

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(img/ring.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.hero {
  position: relative;
  min-height: 100vh;
  /* background-color: var(--bg); */
}

.hero h1 {
  font-family: "Sacramento", cursive;
  font-size: 6rem;
}

.hero h4 {
  font-size: 1.6rem;
}

.hero p {
  font-size: 1.4rem;
}

.hero a {
  color: var(--pink);
  background-color: white;
}

.hero a:hover {
  background-color: var(--pink);
  color: white;
}

/* home =========== */

.home {
  background-image: url(img/bg-pattern.png);
  min-height: 100vh;
  background-size: cover;
  margin: -3.3rem;
  padding-top: 9rem;
  padding-bottom: 7rem;
}

.home h2 {
  color: var(--pink);
  font-family: "Sacramento";
  font-size: 5rem;
  font-weight: bold;
}

.home h3 {
  color: #444;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.home p {
  font-size: 1.1rem;
  color: #666;
}

.home .couple {
  margin-top: 100px;
}

.home .couple h3 {
  font-family: "Sacramento";
  font-size: 2.4rem;
  color: var(--pink);
}

.home .couple img {
  width: 100%;
}

/* info section ====== */
.info {
  background: var(--bg);
  color: white;
  padding-top: 10rem;
  padding-bottom: 8rem;
}

.info h2 {
  color: var(--pink);
  font-family: "Sacramento";
  font-size: 5rem;
  font-weight: bold;
}

.info .alamat {
  font-size: 1.1rem;
}

.info .description {
  font-size: 1rem;
  font-weight: 300;
}

.info .card {
  background: rgba(255, 255, 255, 0.2) !important;
  border: 1px solid #999;
}

.info .card-header {
  border-bottom: 1px solid #999;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.info .card-body {
  font-size: 1rem;
}

.info .card-footer {
  border-top: 1px solid #999;
}

/* ========== media query */
/* laptop */
@media (max-width: 992px) {
  html {
    font-size: 75%;
  }
}

/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 65%;
  }
}

/* mobile phone */
@media (max-width: 576px) {
  html {
    font-size: 55%;
  }
  .simply-countdown > .simply-section {
    padding: 45px;
    margin: 5px;
    width: 5px;
    height: 5px;
  }
}
